---
interface Props {
    title: string;
    description: string;
    date: string;
    company: string;
    logo: string;
    href: string;
}

const { date, title, description, company, logo, href } = Astro.props;
---

<!-- Item -->
<div class="flex gap-x-3">
    <!-- Left Content -->
    <div class="w-36 text-end">
        <span class="text-xs text-cyan-600">{date}</span>
    </div>
    <!-- End Left Content -->

    <!-- Icon -->
    <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 "
    >
        <div class="relative z-10 size-7 flex justify-center items-center text-neon">
            <div class="size-2 rounded-full bg-gray-400"></div>
        </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pt-0.5 pb-8">
        <h3
            class="flex gap-x-1.5 text-xl font-semibold bg-gradient-to-r from-indigo-400 to-cyan-400 bg-clip-text text-transparent"
        >
            {title}
        </h3>
        <p
            class="mt-1 text-sm text-cyan-500 lg:max-w-3xl break-words whitespace-pre-wrap"
        >
            {description}
        </p>
        <a href={href} target="_blank" rel="noopener noreferrer">
            <button
                type="button"
                class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
            >
                <img
                    class="flex-shrink-0 size-11 rounded-full"
                    src={logo}
                    alt={company + " logo"}
                />

                {company}
            </button>
        </a>
    </div>
    <!-- End Right Content -->
</div>
<!-- End Item -->